.movie-card {
  background-color:#121212;
  font-family: roboto;
  width: 300px;
  height: fit-content;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.movie-card-text {
  color: white;
  font-size: 15px;
  margin-left: 20px;
  vertical-align: bottom;
  border: 1px solid yellow;
}

.movie-card-button {
  background-color: #313131;
  border: none;
  margin: 20px 10px;
  border-radius: 5px;
  height: 30px;
  padding: 0px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card-button > span {
  color: rgb(96, 96, 248);
}

.movie-card-img {
  float:left;
}

a {
  text-decoration: none;
}