.movie-card {
  background-color:#121212;
  font-family: roboto;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.movie-card-text {
  color: white;
  font-size: 13px;
  margin-left: 20px;
  vertical-align: bottom;
}

.movie-card-button {
  background-color: #313131;
  border: none;
  margin: 20px 15px;
  border-radius: 5px;
  height: 30px;
  padding: 0px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movie-card-button > span {
  color: rgb(96, 96, 248);
  font-size: 14px;
}

.movie-card-img {
  float:left;
  height: 300px;
}

a {
  text-decoration: none;
}