.movie-cards {
  overflow-x: scroll;
  display: flex;
  scroll-behavior: smooth
}

.movie-cards::-webkit-scrollbar { 
  display: none;
}

.movie-cards-wrapper {
  position: relative;
  margin-left: 20px;
}

.button-scroll-left {
  position: absolute;
  top: 30%;
  left: 0;
  color: #8d8c89;
  cursor: pointer;
}

.button-scroll-right {
  position: absolute;
  top: 30%;
  right: 0;
  color: #8d8c89;
  cursor: pointer;
}